//I guess this is a fork of: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9

$base-grid: 8px;

$spaceamounts: ("n": 0, "s": $base-grid, "m": $base-grid * 2, "l": $base-grid * 3, "xl": $base-grid * 4); // Adjust this to include the pixel amounts you need.

$sides: (top, bottom, left, right); // Leave this variable alone

@each $name, $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$name} {
      margin-#{$side}: #{$space} !important;
    }

    .p#{str-slice($side, 0, 1)}#{$name} {
      padding-#{$side}: #{$space} !important;
    }
  }
}

// Grabbed and modified from https://gist.github.com/faramarzQ/47400ede5e7cf083ae069d0cf3dd3aa2
// and https://gist.github.com/thom-nic/d873616fb448913e58ce34bd3c24c921
@each $name, $space in $spaceamounts {
  .ma#{$name} {
    margin: #{$space} !important;
  }

  .pa#{$name} {
    padding: #{$space} !important;
  }
  
  .mh#{$name} {
    @extend .ml#{$name};
    @extend .mr#{$name};
  }

  .mv#{$name} {
    @extend .mt#{$name};
    @extend .mb#{$name};
  }

  .ph#{$name} {
    @extend .pl#{$name};
    @extend .pr#{$name};
  }

  .pv#{$name} {
    @extend .pt#{$name};
    @extend .pb#{$name};
  }
}
